.footer_content {
  display: flex;
  justify-content: center;
}
nav ul li a.active {
  background-color: blue;
  color: green;
}
nav ul li a {
  display: flex;
  text-decoration: none;
  padding: 0.2vw;
  border: 0.2vw solid grey;
  margin-bottom: -0.2vw;
  justify-content: center;
}
nav ul {
  list-style: none;
  width: 10vw;
}
.header {
  align-items: center;
  display: flex;
  padding: 1vw;
}
img {
  width: 15vw;
  height: 15vw;
  border-radius: 10vw;
}
.fname,
.email,
.message,
.submit {
  display: flex;
  justify-content: center;
  margin: 1vw;
}
h1 {
  color: rgb(156, 83, 48);
}
.submit {
  flex-direction: column;
}
.message {
  height: 5vw;
}
